[data-button] {
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  border: 1px solid red;
}
[data-button]:hover {
  cursor: pointer;
}

[data-button~="kind:primary"] {
  background-color: red;
  color: #ffffff;
}

[data-button~="kind:secondary"] {
  background-color: #ffffff;
  color: red;
}
  